
.shopping-list-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px 30px;
    background: #d2e5ee;
    border: 1px solid #ddd;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    /* font-family: Consolas, 'Courier New', monospace; */
    border-radius: 8px;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .input-area {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: stretch; 
    height: 50px;
  }
  
  .input-area input {
    flex: 1;
    padding: 10px 12px;
    /* height: 50px;  */
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: 16px;
    box-sizing: border-box; 
  }
  
  .input-area button {
    /* height: 44px;  */
    padding: 0 16px; 
    background-color: rgb(219, 112, 112);
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    font-family: inherit;
    box-sizing: border-box;
    vertical-align: top;
    /* margin-bottom: 20px; */
  }
  
  .shopping-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .list-item {
    padding: 12px 8px;
    border-bottom: 1px dashed #ccc;
    display: flex;
    align-items: center;
    font-size: 18px;
  }
  
  .list-item input[type="checkbox"] {
    margin-right: 12px;
    transform: scale(1.3);
  }
  
  .list-item.checked span {
    text-decoration: line-through;
    color: #999;
  }
  
  .clear-button {
    margin-top: 20px;
    padding: 10px 20px;
    background: #dd4151;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    display: block;
    width: 100%;
    border-radius: 4px;
    font-family: inherit;
    font-size: 16px;
  }
  